body {
    background-image: url("https://images.unsplash.com/photo-1700159915592-004562ddcf6f?q=80&w=2728&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    font-family:  serif;
    font-weight: bold;
    text-align: center;
    color: white;
    max-width: 700px;
    margin: auto;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: black;
    border: 1px solid black
}

#increment-btn {
    background: wheat;
}

#save-btn {
    background: white;
}

